<nav class="navbar navbar-expand-lg bg-light shadow-sm">
  <div class="container-fluid">


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav gap-3">
        <li class="nav-item">
          <a class="nav-link active custom-nav-link" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="demands">Demandas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="employees">Funcionários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-nav-link" href="clientes">Clientes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
