<main class="container">
    <h2>Employee</h2>

    <a (click)="novo()" class="btn btn-primary">Novo</a> 

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Função</th>
                <th>Líder</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umEmployee of listaEmployees">
                <td>{{umEmployee.name}}</td>
                <td>{{umEmployee.role}}</td>
                <td>{{umEmployee.leader}}</td>


                <td><a (click)="alterar(umEmployee)"
                    class="btn btn-secondary">Alterar</a></td>
            </tr>
        </tbody>

    </table>
</main>